.hero{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding-bottom: 2rem;
    clip-path: polygon(0 0, 100% 0%,100% 100%, 0% 98%)
    
}

.hero__container{
    text-align: start;
    width: 80%;
    height: 100vh;
    padding-top: 12rem;
    margin: 0 auto 2rem;

    span{
        text-align: start;
        color: var(--secondary-color);
    }

    h1{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    button{
        margin-top: 4rem;
        color: var(--secondary-color);
        background: transparent;
        // margin-bottom: 1rem;
        border: 1px solid var(--secondary-color);
    }

    @media screen and (max-width: 700px) {
        width: 90%;
        padding: 2rem 0;
        margin: 6rem auto 0rem;
        // height: 60vh;
        height: 100%;
        // height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        // margin-bottom: 7rem;
        clip-path: polygon(0 0, 100% 0%,100% 100%, 0% 100%);

        h1{
            margin-top: 1.3rem;
        }
    }


    
}

.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

.down{
    width: 100%;
    height: 15vh;
    display: none;  
    .subDown{
        width: 50px;
        margin: 0 auto;
        .downIcon{
            font-size: 2rem;
            color: var(--tetiary-color);
        }
    }

    @media screen and (max-width:800px) {
        display: block;
    }
}

@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

  
