.work{
    width: 100%;
    height: 100%;
}

.work__container{
    margin: 0rem auto;
    width: 80%;

    h1{
        margin-bottom: 1rem;
    }

    .work-filters{
        display: flex;
        justify-content: center;
        cursor: pointer;
        gap: 2rem;
        margin: 1rem 0 0 0;
        
        .work-filter{
            // background-color: var(--secondary-color);
            padding: 1.2rem 2rem;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            border-radius: 10px;

        }
        .work-filter.active{
            background-color: #65ce54;
        }
        .work-filter.inactive{
            background-color: #65ce5455;
        }
    }

}

.workContent_col2{
    margin: 3rem 0 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border-radius: 20px;
    padding: 1rem;

    .workContent_col3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
            // font-weight: 600;
            // font-size: 4.4rem;
            // color: #174E86;
            margin-bottom: 1rem;
        }

        .icon{
            padding: 0.5rem;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            cursor: pointer ;

            a{
                text-decoration: none;
                color: #65ce54;
            }
            
        }

        .eye{
            background-color: #65ce5455;
            color: #65ce54;
            margin-right: 1rem;
            &:hover{
                color:#65ce54;;
            }
        }

        .git{
            background-color: #65ce5455;
            color: #65ce54;
        }


        hr{
            width: 4rem;
            margin: 1rem 0;
        }

        .workContent_col5{
            display: flex;
            align-items: center;
            margin-top: 2rem;
            

            p{
                margin-right: 1rem;
            }

            .svg{
                width: 3rem;
                height: 3rem;
                border-radius: 50px;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    @media screen and (max-width: 800px)  {
        margin: 2rem auto 0;
        width: 100%;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        margin: 5rem auto 0;
        grid-template-columns: 1fr;
        gap: 1rem;

        .workContent_col3{
            // h4{
            //     font-size: 35px;
            // }
    
            // p{
            //     font-size: 18px;
            // }

            hr{
                margin: 0.7rem;
            }

            .workContent_col5{
                margin-top: 1rem;
            }
            .icon{
                padding: 0.5rem;
                font-size: 1rem;
                border-radius: 10px;
            }
        }
    }
}

.workContent_img{
    img{
        width: 100%;
        margin: 0 auto;
        height: 300px;
    }

    @media screen and (max-width:900px) {
        img{
            width: 90%;
            margin: 0 auto;
            display: flex;
            height: 100%;
            // align-items: center;
        }
        margin-top: 0rem;
    }
}